/* global styles */
body {
	color: #999;
	background: #282828;
}

a, a:active, a:link {
	color: #787878;
}

/* placeholder text styles */
::-webkit-input-placeholder, .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #5a5a5a;
}
::-moz-placeholder, .form-control::-moz-input-placeholder { /* Firefox 19+ */
  color: #5a5a5a;
}
:-ms-input-placeholder, .form-control::-ms-input-placeholder { /* IE 10+ */
  color: #5a5a5a;
}
:-moz-placeholder, .form-control:-moz-input-placeholder { /* Firefox 18- */
  color: #5a5a5a;
}

/* stop zooming when keyboard displays on iphone */
.ui-select .ui-btn select{
	font-size: 24px;
}

/* eliminates the gutters in bootstrap */
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.hide {
	display: none;
}

.not-visible {
	visibility: hidden;
}



/* nav */
.navbar {
	margin-bottom: 0;
}

	.navbar-default {
		border-radius: 0;
		background: #DBDBDB;
	}

		.navbar-default a, .navbar-default a:active, .navbar-default a:link {
			color: #999;
		}

		.navbar-header {
			float: left;
		}

		.navbar-brand {
			font-family: 'Josefin Sans', sans-serif;
			font-weight: 700;
		}

		.navbar-right {
			float: right;
			margin-right: 0;
		}



/* scores */
.player-score ul li:nth-of-type(2), .player-score ul li:nth-of-type(3), .opponent-score ul li:nth-of-type(2), .opponent-score ul li:nth-of-type(3) {
	font-style: italic;
}


	/* outcome display */
	#outcome-display {
		padding: 1em 0 0 0;
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 700;
		text-align: center;
	}



/* game messages */
.game-messages {
	padding: 1em 0 0 0;
	text-align: center;
}



/* rps-buttons */
.rps-button {
	cursor: pointer;
	padding: 3em 0;
	color: #39a9d8;
	text-align: center;
}

/* removing this as on mobile the icons keep this styling and causes confusion
.rps-button:hover, .rps-button:focus {
	color: #4592d0;
	background: #222;
}
*/


/* comment display */
#comment-display {
	overflow-y: scroll;
	height: 150px;
	width: 100%;
	padding: 1em;
	background: #222;
}

	#comment-display p {
		margin-bottom: 3px;
	}



/* footer */

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}


	/* comment input */
	.input-group {
		padding-top: 12px;
	}

		.footer input[type="text"] {
			margin-right: -3px;
			padding: .5em 1em;
			border: none;
			border-radius: 0;
			color: #999;
			background: #222;
		}

		.footer input[type="text"]:focus, .footer input[type="text"]:active {
			outline: none;
			box-shadow: none;
			background: #1f1f1f;
		}

		


/* player name overlay */
#player-name-overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #282828;
}

	.rps-overlay-icons {
		padding: 10em 0 3em 0;
		text-align: center;
	}

		.rps-overlay-icons h2 {
			padding-bottom: .5em;
			font-family: 'Josefin Sans', sans-serif;
			font-weight: 700;
		}

	.player-name-container {
		text-align: center;
	}

		.player-name-container input[type="text"] {
			margin-right: -3px;
			padding: .5em 1em;
			border: none;
			border-radius: 0;
			background: #222;
		}

		.player-name-container input[type="text"]:focus {
			outline: none;
			background: #1f1f1f;
		}

		.btn-custom {
			border-radius: 0;
			color: #eee;
			font-family: 'Josefin Sans', sans-serif;
			font-weight: 700;
			background: #39a9d8;
		}

		.btn-custom:hover, .btn-custom:focus {
			color: #eee;
			background: #4592d0;
		}



/* media querries */
@media (min-width: 768px) { 

	/* comment display */
	#comment-display {
		overflow-y: visible;
		min-height: 150px;
	}

}