/* nav */
.navbar-right {
	margin-right: 0;
}

/* player name overlay */
#player-name-overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #eee;
}

	.rps-overlay-icons {
		padding: 15em 0 3em 0;
		text-align: center;
	}

	.player-name-container {
		text-align: center;
	}

		.player-name-container input[type="text"] {
			margin-right: -3px;
			padding: .5em 1em;
			border: none;
			background: #fff;
		}

		.player-name-container input[type="text"]:focus {
			outline: none;
		}

		.btn-custom {
			border-radius: 0;
			color: #eee;
			background: #555;
		}

		.btn-custom:hover, .btn-custom:focus {
			color: #eee;
			background: #333;
		}